@{
    ViewBag.Title = "員工管理系統";
}

<h2 style="margin-bottom:20px;">刪除員工資料</h2>
<form action="@Url.Action("DeleteEmployee")" method="post">
    <div class="row" style="margin-bottom:20px; display:flex; align-items:center;">
        <div style="width:140px;">
            <label for="emp_id">員工 ID：</label>
        </div>
        <div class="col">
            <label for="emp_id">@Model.QueryEmployee.emp_id</label>
        </div>
    </div>
    <input type="hidden" name="emp_id" value="@Model.QueryEmployee.emp_id" />

    <div class="row" style="margin-bottom:20px; display:flex; align-items:center;">
        <div style="width:140px;">
            <label for="fname">名字 + 姓氏：</label>
        </div>
        <div class="col">
            <label for="fname">@Model.QueryEmployee.name</label>
        </div>
    </div>

    <div class="row" style="margin-bottom:20px; display:flex; align-items:center;">
        <div style="width:140px;">
            <label for="job_id">職位：</label>
        </div>
        <div class="col">
            <label for="job_id">@Model.QueryEmployee.job_desc</label>
        </div>
    </div>

    <div class="row" style="margin-bottom:20px; display:flex; align-items:center;">
        <div style="width:140px;">
            <label for="pub_id">出版商：</label>
        </div>
        <div class="col">
            <label for="pub_id">@Model.QueryEmployee.pub_name</label>
        </div>
    </div>

    <input class="btn btn-danger" type="submit" value="刪除" />
</form>
<br />
<div>
    @Html.ActionLink("返回清單", "Index")
</div>
